<!-- _includes/footer.html -->
<hr>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h4 id="get-involved">Support The Projects</h4>
        <ul>
          <li>Analysis is a program of <a href="https://castromedia.org">CastroMedia.org</a>; a 501(c)3 nonprofit.</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4 id="get-involved">Get Involved</h4>
        <ul>
          <li><a href="https://github.com/Castro-Media/Analysis/blob/main/{{ page.path }}">Edit this page on GitHub</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
